<div class="content align-column center-center">
  <h1 style="margin-top: -100px; margin-bottom: 30px;">Registrarse</h1>
  <form class=" align-column full-w" [formGroup]="form">
    <div style="width: 100%; padding: 12px;" class="align-column center-center">
      <input type="text" style="width: 45%; padding: 4px; padding-top: 8px; padding-bottom: 8px;" placeholder="Nombre Completo" formControlName="name">
    </div>
    <div style="width: 100%; padding: 12px;" class="align-column center-center">
      <input type="text" style="width: 45%; padding: 4px; padding-top: 8px; padding-bottom: 8px;" placeholder="Email" formControlName="email">
    </div>
    <div style="width: 100%; padding: 12px;" class="align-column center-center">
      <input type="password" style="width: 45%; padding: 4px; padding-top: 8px; padding-bottom: 8px;" placeholder="Contraseña" formControlName="password">
    </div>
  </form>
  <a class="a-button-sm" style="margin-top: 15px;" (click)="register()">Registrarse</a>
</div>
